<!-- layout.html -->
{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'layout/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karthik Photography</title>

</head>

<body class="bg-black text-white">
    {% if sumbited %}
    <div class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">Success! Will you call you back later</span>
        </div>
      </div>
      
    {% endif %}
    <div class="flex flex-col justify-between min-h-screen">
        <div class="bg-black">
            <nav class="flex justify-between items-center mb-6 px-4">
                <a href="{% url 'home' %}">
                    <img src="{% static 'src/logo.jpg' %}" alt="Logo" class="h-20 md:h-24">
                </a>
               
                <button id="menu-toggle" class="text-white focus:outline-none md:hidden">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="hidden md:flex md:flex-row justify-center space-x-7 font-serif text-lg md:text-base lg:text-lg">
                    <li class="mb-4 md:mb-0"><a href="{% url 'home' %}" class="hover:text-gray-300 py-4 block text-center">Home</a></li>
                    <li class="dropdown relative mb-4 md:mb-0">
                        <a href="#" class="hover:text-gray-300 py-4 block text-center flex items-center" onclick="toggleDropdown(this)">
                            Products
                            <i class="fas fa-chevron-down ml-1"></i>
                        </a>
                        <ul class="dropdown-menu bg-black rounded-md shadow-lg">
                            <li><a href="{% url 'bride' %}" class="hover:text-yellow-900 py-2 block px-4">Wedding Photography</a></li>
                            <li><a href="{% url 'portraits' %}" class="hover:text-yellow-900 py-2 block px-4">Portraits</a></li>
                        </ul>
                    </li>
                    <li class="mb-4 md:mb-0"><a href="{% url 'book' %}" class="hover:text-gray-300 py-4 block text-center">Book an appointment</a></li>
                    <li class="mb-4 md:mb-0"><a href="{% url 'about' %}" class="hover:text-gray-300 py-4 block text-center">About us</a></li>
                </ul>
            </nav>
        </div>
        <div class="bg-white">
            {% block main %}{% endblock main %}
        </div>
        <footer class="bg-black py-6 text-center">
            <p class="text-white text-sm md:text-base">All Images on this website are shot and retouched by Karthik Photography Studio. None of the images can be downloaded or used without written permission.</p>
            <div class="mt-4 flex justify-center">
                <a href="#" class="text-white hover:text-gray-300 mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.youtube.com/@karthikphotography63/videos" class="text-white hover:text-gray-300 mx-2"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/karthik_photographypy/" class="text-white hover:text-gray-300 mx-2"><i class="fab fa-instagram"></i></a>
            </div>
        </footer>
    </div>
    <nav id="menu" class="menu">
        <ul>
            <li><a href="{% url 'home' %}" class="text-white hover:text-gray-300 py-4 block">Home</a></li>
            <li class="dropdown relative">
                <div class="flex items-center justify-between">
                    <a href="#" class="text-white hover:text-gray-300 py-4 block" onclick="toggleDropdown(this)">
                        Products
                        <i class="fas fa-chevron-down ml-2"></i>
                    </a>
                </div>
                <ul class="dropdown-menu bg-black rounded-md shadow-lg">
                    <li><a href="{% url 'bride' %}" class="hover:text-yellow-900 py-2 block px-4">Wedding Photography</a></li>
                    <li><a href="{% url 'portraits' %}" class="hover:text-yellow-900 py-2 block px-4">Portraits</a></li>
                </ul>
            </li>
            <li><a href="{% url 'book' %}" class="text-white hover:text-gray-300 py-4 block">Book an appointment</a></li>
            <li><a href="{% url 'about' %}" class="text-white hover:text-gray-300 py-4 block">About us</a></li>
        </ul>
    </nav>
    <script src="{% static 'js/functionality.js' %}"></script>


</body>
</html>
